body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.panels {
  display: grid;
  grid-template-columns: 6fr 4fr;
  justify-content: space-evenly;
}

h1,
.user-welcome-p {
  color: white;
}

/* NEED TO DEBUG */
.dropdown-menu {
  z-index: 10;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
}

.navbar {
  width: 100%;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

#sign-in-img-container {
  margin-top: 70px;
}

#sign-in-overlay {
  margin-left: 15px;
}

#background-image {
  position: fixed;
  right: 0;
  top: 0;
  /* left: 0%; */
  /* width: 100vw; */
  z-index: -10;
  /* height: 100vh; */
  min-width: 100vw;
  min-height: 100vh;
  /* filter: blur(3px); */
}

.all-tracks-panel,
.track-player-panel {
  height: 80%;
  flex: 1;
}

.track-player-panel {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  /* opacity: 0.2; */
}

.track-card {
  border: 2px solid white;
  border-radius: 15px;
  height: 8%;
  width: 50%;
  text-align: center;
  padding: 1rem;
  margin: 1rem 2rem;
  margin-bottom: 3%;
  background-color: rgba(255, 255, 255, 0.06);
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type="text"] {
  background: none;

  width: 200px;
  height: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding-left: 6px;
}

button {
  background: none;
  width: 75px;
  height: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;
  /* margin: 3%; */
}
button:hover {
  color: black;
  background: white;
}

.track-card button {
  background: rgba(255, 255, 255, 0.15);
  width: 30%;
  height: 20%;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 3%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.track-card button:hover {
  color: black;
  background: white;
}

.track-card .activated {
  color: red;
  background: white;
}

/* .track-player-panel img {
  height: 3%;
  margin-top: 150px;
} */

.play-animation {
  height: 20%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.play-animation svg {
  pointer-events: none;
}

.play-animation svg,
img {
  position: absolute;
}

.footer {
  position: fixed;
  bottom: 0;
}
